<!-- HTML5 Index template for integralCES_consumer -->

<html>
	<head>

		<meta charset="UTF-8">
		<meta name="HTML5 Index template for integralCES interop cesSDKv0" content="integralCES interop gateway example">
		<meta name="keywords" content="CES,integralCES,gateway,PHP,Drupal">
		<meta name="Aleph1888" content="www.integralces.net">		
		<title>integralCES interop consumer</title>
	</head>
	<body>
		<main title="header">
			<h1>integralCES <i>consumer gateway example</i></h1>
			<h2>icesSDKv0 <i>API</i></h2>
		</main>
		<hr>
               <section title="Payment">
			<form method="POST">
				<header>%%section_action%%</header>
				<h3>%%section_payment_id%%</h3>
	        		<fieldset>
		                	<legend>Payment</legend>
				                Buyer: <input name="txtBuyer" value="%%section_payment_buyer%%" type="text"> <label>%%section_payment_buyer_balance%% ecos</label> <br> 
				                Seller: <input name="txtSeller" value="%%section_payment_seller%%" type="text"> <label>%%section_payment_seller_balance%% ecos</label> <br>
		                		Amount: <input name="txtAmount"  value="%%section_payment_amount%%" type="text">
		        		        Concept: <input name="txtConcept"  value="%%section_payment_concept%%" value="Probando API" type="text"><br>
			        </fieldset>
			        <input type="submit" value="Pay">
			</form>
		</section>
		<hr>
		<section title="User">
			<article>
				<header>
					<h1>User</h1>
				</header>
				<p><b>Logged in user</b>: %%section_user%%</p>
				<p><b>Accounts</b>: %%section_user_accounts%%</p>
				<p><b>Login/out url</b>: <a href="%%section_user_login_url%%">Go</a></p>
			</article>
		</section>
		<hr>
 		<section title="Client">
                        <article>
                                <header>
                                        <h1>Client</h1>
					<p>Represents integralCES server site consumer, get developer <a href="https://wiki.enredaos.net/index.php?title=COOPFUND-DEV#Create_user_oAuth_consumer">info</a> about it.</p>
                                </header>
				<p>Request your consumer credentials by <a href="mailto:ox@enredaos.net?subject=[integralCES] New client request">mail</a>; soon this process should be automatized. Then, config it on your API entry point file, in this package: <i><a href="includes/myAPI.inc">includes/myAPI.inc</a></i></p>
				<p><b>key</b>: %%section_client_key%%</p>
				<p><b>secret</b>: %%section_client_secret%%</p>
				<p><b>base url</b>: <a href="%%section_client_base_url%%">%%section_client_base_url%%</a></p>
				<p><b>connection</b>: %%section_client_connection%%</p>
                        </article>
                </section>
		<hr>		
		<footer>
			<p><b>Contact information</b>: <a href="mailto:ox@enredaos.net"> aleph1888 </a>
			<p><b>Documentation</b>: <a href="https://wiki.enredaos.net/index.php?title=COOPFUND-DEV#API_PHP_for_payment_gateway">wiki.enredaos.net</a>
			<p><b>Release:</b> may 2014</p>
		</footer> 
	</body>

</html>
